@import url(//fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: lightskyblue;
    font-family: 'Open Sans', sans-serif;
  }

h1, h2, p {
    color: blue;
    text-align: center;
}