body {
  padding-top: 50px;
  background: radial-gradient(circle, #a2e75c, #c4ad2e);
  text-align: center;
}

/* Add a black background color to the top navigation */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Style the hamburger menu */
.hamburger {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 10px;
}

h1 {
  color: black;
  text-align: center;
}

p {
  text-align: center;
}